params {

  help = false
  dnabam = false
  single_end = false

  rnareads = ""
  dnareads_tumor = ""
  dnareads_normal = ""

  nthreads = 12

  arriba = false
  ericscript = false
  fusioncatcher = false
  integrate = false
  genefuse = false


  conda = "/home/elenapianfetti/miniconda3/envs"
  envPath_ericscript = "${params.conda}/ericscript/bin"
  envPath_arriba = "${params.conda}/arriba/"
  envPath_fusioncatcher = "${params.conda}/fusioncatcher/bin"
  envPath_integrate = "${params.conda}/integrate/bin"
  envPath_genefuse = "${params.conda}/genefuse/bin"


  outdir = "results"
  referenceGenome = "${params.outdir}/reference_genome"
  referenceGenome_index = "${params.outdir}/reference_genome/index"

  ericscript_ref = "${params.outdir}/ericscript/files"
  arriba_ref = "${params.outdir}/arriba/files"
  fusioncatcher_ref = "${params.outdir}/fusioncatcher/files"
  integrate_ref = "${params.outdir}/integrate/files"
  integrate_bwts = "${params.outdir}/integrate/files/bwts"
  genefuse_ref = "${params.outdir}/genefuse/files"

}

executor {
    queueSize = 3
}

process {
    executor = "slurm"
    queue = 'prod'
    cpus = 1
    withLabel: low_ram {
        memory = '8GB'
    }
    withLabel: high_ram {
        memory = '30GB'
    }
}
