params {

  help = false
  dnabam = false
  single_end = false

  rnareads = ""
  dnareads_tumor = ""
  dnareads_normal = ""

  outdir = "results/"
  nthreads = 8

  arriba = false
  ericscript = false
  fusioncatcher = false
  integrate = false
  genefuse = false


  envPath_ericscript = "/home/elenapianfetti/miniconda3/envs/ericscript/bin"
  envPath_arriba = "/home/elenapianfetti/miniconda3/envs/arriba/"
  envPath_fusioncatcher = "/home/elenapianfetti/miniconda3/envs/fusioncatcher/bin"
  envPath_integrate = "/home/elenapianfetti/miniconda3/envs/integrate/bin"
  envPath_genefuse = "/home/elenapianfetti/miniconda3/envs/genefuse/bin"

  referenceGenome = "${params.outdir}/reference_genome"
  referenceGenome_index = "${params.outdir}/reference_genome/index"

  ericscript_ref = "${params.outdir}/ericscript/files"
  arriba_ref = "${params.outdir}/arriba/files"
  fusioncatcher_ref = "${params.outdir}/fusioncatcher/files"
  integrate_ref = "${params.outdir}/integrate/files"
  integrate_bwts = "${params.outdir}/integrate/files/bwts"
  genefuse_ref = "${params.outdir}/genefuse/files"

}

executor {
    queueSize = 2
}

process {
    executor = "slurm"
    queue = 'prod'
    cpus = 3
    withLabel: low_ram {
        memory = '8GB'
    }
    withLabel: high_ram {
        memory = '30GB'
}